div#content-toolbar {
  text-align: right;
  margin: 1% 2vw;
  /* padding-top: 1%; */
  height: 6%;
  overflow: hidden;
}

dialog * {
  /* border: 1px solid red; */
}

dialog {
  background-color: var(--sidebar-background-color);
  color: var(--font-color);
  border: 5px solid var(--section-border-color);
  left: var(--sidebar-width);
  height: 53%;
  width: 35%;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 35%);
}

form {
  margin: 2% 5%;
}

form h2 {
  font-size: clamp(1.4rem, 2.1vw, 1.9rem);
  text-align: center;
}
form p.form-element-container {
  display: flex;
}

form p.form-element-container label {
  font-size: var(--sidebar-item-font-size);
  width: 25%;
  padding-right: 2%;
}

form input[type="text"],
form input[type="date"],
form input[type="checkbox"],
form textarea {
  border: 0.08rem solid rgb(0 0 0 / 20%);
  border-radius: 2px;
  outline: none;
  width: 75%;
}

form textarea {
  height: 5em;
}

form legend,
form li label {
  font-size: var(--sidebar-item-font-size);
}

form ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

form li {
  /* display: flex; */
}

form menu {
  display: flex;
  justify-content: space-around;
}

form input:focus,
form textarea:focus {
  background: #c4b5fd;
  border: 1px solid gold;
  border-radius: 5px;
}

div#list-container {
  /* border: 1px solid red; */
  padding: 0 5%;
  /* margin-bottom: 2%; */
  height: 92%;
  overflow-y: auto;
}

/* LIST ITEM CONTAINER {{{ */
div.item-container {
  padding: 1% 0.5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  border: 5px solid var(--section-border-color);
}

div.item-container.high {
  border-left: 5px solid red;
  border-right: 5px solid red;
}

div.item-container.medium {
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}

div.item-container.low {
  border-left: 5px solid green;
  border-right: 5px solid green;
}

div.item-container div span {
  font-size: clamp(1.1rem, 2.0vw, 2rem);
}

div.item-container div svg {
  height: clamp(1rem, 2.3vw, 2.5rem);
}

div.item-container i:hover {
  cursor: pointer;
  color: var(--icon-hover-color);
  /* transition-duration: 0.3s; */
}
/* }}} */

/* LEFT SIDE LIST CONTAINER {{{ */
div.left-side-list-container {
  width: max(18rem, 50%);
  display: inline-flex;
  align-items: center;
}

div.left-side-list-container span.item-title {
  width: max(5rem, 80%);
}

div.left-side-list-container div.checkbox {
  border: 1px solid var(--font-color);
  margin: 0 5%;
}

div.left-side-list-container div.checkbox:hover {
  cursor: pointer;
}

div.item-container:not(.complete) .checkmark {
  visibility: hidden;
}

div.item-container.complete span.item-title {
  text-decoration: line-through;
}

/* }}} */

/* RIGHT SIDE LIST CONTAINER {{{ */
div.right-side-list-container {
  width: max(8rem, 20%);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

div.right-side-list-container span.item-date {
  width: max(4rem, 60%);
}

      /* }}} */
