:root {
  --sidebar-background-color: #7c3aed;
}

section.sidebar {
  position: relative;
  background-color: var(--sidebar-background-color);
  padding: 2vh 8%;
  padding-left: 12%;
  font-size: clamp(1.2rem, 1.9vw, 1.4rem);
  border-right: 2px solid var(--section-border-color);
}

section.sidebar div.menu-container {
  display: flex;
  flex-direction: column;
}

section.sidebar p {
  transition-duration: 0.4s;
  margin-bottom: 5%;
}

section.sidebar p.project {
  padding-left: 10%;
}

section.sidebar p:hover {
  cursor: pointer;
  font-weight: 800;
}

section.sidebar button#add-item {
  position: absolute;
  bottom: 5%;
  right: 12%;
  cursor: pointer;
  font-size: clamp(2.0rem, 3.1vw, 3.3rem);
  background-color: var(--font-color);
  border: none;
  border-radius: 100%;
  box-shadow: 5px 5px 8px #2e1065;
  padding: max(6px, 0.9vh) max(18px, 0.9vw);
  transition-duration: 0.3s;
}

section.sidebar button#add-item:hover {
  background-color: var(--icon-hover-color);
}

section.sidebar button#add-item:active {
  background-color: #737373;
}

